@model ma.ade.Kwetter2.Admin.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tokens)
        </dt>
        <dd>
            @if (Model.Tokens.Any())
            {
                <table class="table" id="tokens-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Tokens.First().AccessToken)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tokens.First().RemoteAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tokens.First().IssuedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tokens.First().ExpirationDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var token in Model.Tokens)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => token.AccessToken)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => token.RemoteAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => token.IssuedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => token.ExpirationDate)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
